body {
  background-color: #ffffff;
  color: #757575;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

/* основной цвет текста #757575 */
/* вторичный цвет текста  #212121 */
/* акцент #2196F3 */
/* белый #ffffff */
/* вторичный цвет фона #2F303A #E5E5E5 #F5F4FA*/

/* стилизация header */

ul {
  list-style: none;
}

.header .contacts a {
  color: #757575;
}

.header .contacts a:hover,
.header .contacts a:focus {
  color: #2196f3;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}

.logotype {
  color: #2196f3;
}

.site-nav a {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #2196f3;
}

.header .site-nav-studio {
  color: #2196f3;
}

.header .contacts a {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

/* стилизация героя */

.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  background-color: #2196f3;
  color: #ffffff;
}

/* стилизация заголовков */

.features .title {
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.names {
  color: #212121;
}

/* особенности */

.features p {
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* наша команда */
.our-team {
  background-color: #f5f4fa;
}

.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.professions {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* портфолио */

.horizontal-buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
}

li button:hover {
  color: #ffffff;
}

li button:hover,
li button:focus {
  background-color: #2196f3;
}

.cards h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.cards p {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

/* футер */

.footer {
  background-color: #2f303a;
}

address {
  line-height: 0.7x;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer .contacts a {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts a:hover,
.contacts a:focus {
  color: #2196f3;
}
